<h1>ディナーメニュー</h1>
<nav>
    <ul class="nav navbar-nav navbar-right">
      <li class="list-item"> <%= link_to "夜の定食", "/menu/dinnerteishoku" %> </li>  
      <li class="list-item"> <%= link_to "一品料理", "/menu/ippin" %> </li>
      <li class="list-item"> <%= link_to "ドリンクメニュー", "/menu/drink" %> </li>
      <li class="list-item"> <%= link_to "デザートメニュー", "/menu/dessert" %> </li>
      <li class="list-item"> <%= link_to "宴会コース", "/menu/party" %> </li>
　   </ul>
</nav>

